/* Style for the background */
.background {
    width: calc(100% - 10vw); 
    min-height: 90vh;
    background-color: #ffb3c6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10vw;
    margin-top: 10vh;
    padding: 3vw 0vw;
    overflow-x: hidden;
}

/* Style for the div with the texts */
.text {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 5vw;
}

/* Style for the image in the div with the texts */
.text img {
    width: 10vw;
    height: auto;
}

/* Title for which paragraph */
.title {
    font-size: xx-large;
    font-weight: bold;
}


.who {
    text-align: right;
}